# Ignore Python bytecode files
*.pyo
# Ignore virtual environments
.venv/
env/
venv/

# Ignore local database filesa

# Ignore IDE-specific files
*.idea/
.vscode/


# Ignore logs and temporary files
*.log
*.tmp
*.swp

# Ignore system-specific files
.DS_Store
Thumbs.db

# Ignore Git metadata
.git/
.gitignore

# Ignore other unnecessary files or directories
node_modules/
